# Logs
logs
*.log
npm-debug.log*
firebase-debug.log*
firestore-debug.log*
ui-debug.log*
pubsub-debug.log*
database-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.*
!.env.example

# Firebase
.firebase/
.firebaserc
emulator-data/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
